In [1]:
import pandas as pd
import numpy as np
#import nltk
#import math

##Reading the text
Raw_Data = pd.read_csv("C:/Users/archi/OneDrive/Desktop/ANLP Assignment/tokens_v4.csv",encoding = "ISO-8859-1")

In [2]:
##Printing the data
Raw_Data.head()

,word,lemma,CharacterOffsetBegin,CharacterOffsetEnd,POS,NER,Speaker,NormalizedNER,Row_nbr,Row_Sentence,Sentence_Nbr
0,The,the,0,3,DT,O,PER0,NaN,0,1,0
1,Project,project,4,11,NN,O,PER0,NaN,1,2,0
2,Gutenberg,Gutenberg,12,21,NNP,O,PER0,NaN,2,3,0
3,EBook,EBook,22,27,NNP,O,PER0,NaN,3,4,0
4,of,of,28,30,IN,O,PER0,NaN,4,5,0

In [3]:
##Creating empty arrays
sentance_Position=[]
Char_Position = []
speaker=[]

In [4]:
##Identifying the speaker and the sentance 
for i in range(0,len(Raw_Data)):
    if Raw_Data.loc[Raw_Data.index[i],'NER'] =='PERSON':
        if Raw_Data.loc[Raw_Data.index[i-1],'word'] =='Mr.' or Raw_Data.loc[Raw_Data.index[i-1],'word'] =='Mrs.':
            Char_Position.append(Raw_Data.loc[Raw_Data.index[i], 'Row_nbr'])
            speaker.append(Raw_Data.loc[Raw_Data.index[i-1], 'word'] + Raw_Data.loc[Raw_Data.index[i], 'word'])
            sentance_Position.append(Raw_Data.loc[Raw_Data.index[i], 'Sentence_Nbr'])
        else: 
            Char_Position.append(Raw_Data.loc[Raw_Data.index[i], 'Row_nbr'])
            speaker.append(Raw_Data.loc[Raw_Data.index[i], 'word'])
            sentance_Position.append(Raw_Data.loc[Raw_Data.index[i], 'Sentence_Nbr'])

In [5]:
##Collating and formatting results
Char_Position=pd.DataFrame(Char_Position)
sentance_Position=pd.DataFrame(sentance_Position)
speaker=pd.DataFrame(speaker)
df=pd.concat([Char_Position,speaker],axis=1)
df1=pd.concat([df,speaker],axis=1)
df1.columns = ['char start position', 'Speaker','Sentance']

In [6]:
##Accounting for consequtive conversations between the same set of people 
count=1
Final_DF=[]
for i in range(1,df1.shape[0]):
    if df1.loc[df1.index[i-1],'Speaker']==df1.loc[df1.index[i],'Speaker']:
       count+=1
    else :
        Final_DF.append([df1.iloc[i-1]['Speaker'],count])
        count=1

The below table gives the speaker, the other person in the coversation and the number of times they spoke during each conversation. The results are in the same order as they appear in the book. If x and y spoke during seperate instances then each instance is tagged seperately. Multiple conversations which happen during the same instance are aggreated in the Conversations column. 

The code also incorrectly tags the author, publisher as part of the charecters

In [7]:
Final_DF=pd.DataFrame(Final_DF)
Final_DF.columns = ['Speaker','Count of times they spoke']
Final_DF['Other Speaker'] = Final_DF['Speaker'].shift(-1)
print(Final_DF)

      Speaker  Count of times they spoke Other Speaker
0       David                          1        Widger
1      Widger                          1            W.
2          W.                          2        Jacobs
3      Jacobs                          1      Mr.White
4    Mr.White                          3       Herbert
5     Herbert                          1         White
6       White                          1     Mrs.White
7   Mrs.White                          1        Morris
8      Morris                          1      Mr.White
9    Mr.White                          1     Mrs.White
10  Mrs.White                          1        Morris
11     Morris                          1     Mrs.White
12  Mrs.White                          2      Mr.White
13   Mr.White                          1       Herbert
14    Herbert                          1         White
15      White                          1     Mrs.White
16  Mrs.White                          1        Morris
17     Morris                          2     Mrs.White
18  Mrs.White                          1      Mr.White
19   Mr.White                          1       Herbert
20    Herbert                          1     Mrs.White
21  Mrs.White                          1       Herbert
22    Herbert                          1     Mrs.White
23  Mrs.White                          1      Mr.White
24   Mr.White                          1       Herbert
25    Herbert                          2     Mrs.White
26  Mrs.White                          1       Herbert
27    Herbert                          1        Morris
28     Morris                          1       Herbert
29    Herbert                          2      Mr.White
30   Mr.White                          1     Mrs.White
31  Mrs.White                          1       Herbert
32    Herbert                          1      Mr.White
33   Mr.White                          2       Herbert
34    Herbert                          2         David
35      David                          1        Widger
36     Widger                          1     Gutenberg
37  Gutenberg                          1       Michael
38    Michael                          1          Hart
39       Hart                          1       Gregory
40    Gregory                          1            B.
41         B.                          1         Newby
42      Newby                          1       Michael
43    Michael                          1            S.
44         S.                          1           NaN